@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
/*
 *        O-star.me main stylesheet.
 */
@font-face {
  font-family: 'almoni-dl';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/almoni-dl-aaa-300.eot?');
  src: url('../fonts/almoni-dl-aaa-300.eot?#iefix') format("embedded-opentype"), url('../fonts/almoni-dl-aaa-300.woff?') format("woff"), url('../fonts/almoni-dl-aaa-300.ttf?') format("truetype");
}

@font-face {
  font-family: 'almoni-dl';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/almoni-dl-aaa-400.eot?');
  src: url('../fonts/almoni-dl-aaa-400.eot?#iefix') format("embedded-opentype"), url('../fonts/almoni-dl-aaa-400.woff?') format("woff"), url('../fonts/almoni-dl-aaa-400.ttf?') format("truetype");
}

@font-face {
  font-family: 'almoni-dl';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/almoni-dl-aaa-700.eot?');
  src: url('../fonts/almoni-dl-aaa-700.eot?#iefix') format("embedded-opentype"), url('../fonts/almoni-dl-aaa-700.woff?') format("woff"), url('../fonts/almoni-dl-aaa-700.ttf?') format("truetype");
}

@font-face {
  font-family: 'opensans-hebrew';
  src: url('../fonts/opensanshebrew-regular-webfont.eot?');
  src: url('../fonts/opensanshebrew-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensanshebrew-regular-webfont.woff?') format("woff"), url('../fonts/opensanshebrew-regular-webfont.ttf?') format("truetype");
}

@font-face {
  font-family: 'opensans-hebrew-light';
  src: url('../fonts/opensanshebrew-light-webfont.eot?');
  src: url('../fonts/opensanshebrew-light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/opensanshebrew-light-webfont.woff?') format("woff"), url('../fonts/opensanshebrew-light-webfont.ttf?') format("truetype");
}

body {
  font: normal 16px/1.3 "almoni-dl", sans-serif;
  text-align: right;
  direction: rtl;
}

.people .people-frame .number, .intro .slogan span, .intro .title span, .footer .footer-msg {
  font-family: "Raleway", sans-serif;
}

.people .people-frame .number {
  font-weight: 100;
}

.intro .slogan span {
  font-weight: 300;
}

.intro .title span {
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px transparent, -1px -1px 0 transparent;
  -webkit-transition: text-shadow 0.4s ease-in-out;
  -moz-transition: text-shadow 0.4s ease-in-out;
  -o-transition: text-shadow 0.4s ease-in-out;
  transition: text-shadow 0.4s ease-in-out;
}

html, body {
  max-width: 100%;
}

body {
  background: #efefef;
}

.int-wrp {
  width: 1200px;
  margin: 0 auto;
  max-width: 94%;
  padding: 0 3%;
}

body > * {
  min-width: 1400px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
html.lte-ie8 img {
  width: auto;
}

.header, .vision, .join .submit, .footer {
  background: #33013b;
  color: white;
}

.header, .intro, .vision, .people, .goals, .goals2 {
  border-bottom: 3px solid #a8925f;
}

.sect-title {
  position: relative;
  text-align: center;
  font-size: 30px;
  white-space: nowrap;
}
.sect-title:before, .sect-title:after {
  content: '';
  border-bottom: 1px solid #fff;
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
}
.goals .sect-title:before, .goals .sect-title:after {
  border-color: #490b53;
}

.goals2 .btn {
  display: inline-block;
  background: #a8925f;
  font-size: 29px;
  padding: 0 25px;
  line-height: 71px;
  border-bottom: 6px solid #8b7341;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.goals2 .btn:hover {
  text-shadow: none;
  background: #a08a57;
  border-bottom: 6px solid #7a6539;
}

input:focus {
  outline: 0;
}

.header {
  text-align: center;
}
.header a {
  display: inline-block;
  padding: 8px;
}

.intro {
  text-align: right;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #e3e2e2));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e3e2e2);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e3e2e2);
  background-image: -o-linear-gradient(top, #f4f4f4, #e3e2e2);
  background-image: linear-gradient(top, #f4f4f4, #e3e2e2);
  -pie-background: linear-gradient(top, #f4f4f4, #e3e2e2);
  position: relative;
  behavior: url("/css/pie/PIE.htc");
  font-size: 16px;
  /* firefox 19+ */
  /* ie */
}
.intro .int-wrp {
  display: table;
  min-width: 800px;
  height: 900px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.intro .col {
  display: table-cell;
  vertical-align: middle;
  margin-top: -10px;
  height: 100%;
  padding-bottom: 130px;
  position: relative;
}
.intro .gallery-preview {
  background: url('../images/intro-images.png') no-repeat 10% center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  left: 5%;
  top: 0;
  height: 100%;
  width: 792px;
}
.intro .gallery-preview a {
  position: absolute;
}
.intro .gallery-preview .linkToVideo {
  top: 21%;
  left: 15%;
  display: inline-block;
  width: 90px;
  height: 30px;
}
.intro .gallery-preview .linkToGallery {
  top: 25%;
  left: 15%;
  display: inline-block;
  width: 100px;
  height: 50px;
}
.intro a.movie-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}
.intro .title {
  letter-spacing: -1px;
  color: #a8925f;
  font-size: 3.125em;
  width: 560px;
  position: relative;
  z-index: 2;
}
.intro .title span {
  font-size: 40px;
}
.intro .slogan {
  line-height: 1;
  color: #a8925f;
  font-weight: 300;
  font-size: 2.5em;
  width: 560px;
  position: relative;
  z-index: 2;
}
.intro .read-more {
  text-align: center;
  bottom: 0;
  right: 48%;
  margin-bottom: 50px;
  z-index: 2;
}
.intro .read-more a {
  font-size: 23px;
  color: #33013b;
}
.intro .read-more .read-more-img {
  padding-top: 10px;
  text-align: center;
  position: relative;
}
.intro .read-more .read-more-img:hover {
  -webkit-animation: bounce 1s infinite;
  /* Chrome, Safari, Opera */
  animation: bounce 1s infinite;
}
.intro .input-wrp {
  margin-top: 30px;
  position: relative;
  z-index: 2;
}
.intro .mail {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  border: none;
  background: url('../images/icn-mail-gold.png') no-repeat 96% center white;
  font-size: 16px;
  margin: 0;
  color: #a8925f;
  width: 400px;
  padding-right: 60px;
  height: 60px;
  font-family: "Open Sans Hebrew", serif;
}
.intro ::-webkit-input-placeholder {
  color: #a8925f;
}
.intro ::-moz-placeholder {
  color: #a8925f;
}
.intro :-ms-input-placeholder {
  color: #a8925f;
}
.intro input:-moz-placeholder {
  color: #a8925f;
}
.intro .submit {
  height: 60px;
  float: right;
  background: #a8925f;
  color: #FFF;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border: none;
  width: 80px;
  margin: 0;
  margin-right: -.5em;
  font-family: "almoni-dl", sans-serif;
}
.intro .lbox-active .lbox-contain {
  width: 960px;
}
.intro .lbox-gallery-wrp .lbox-contain {
  width: 960px;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.intro .lbox-gallery-wrp.lbox-active .lbox-contain {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }

  25% {
    top: 5px;
  }

  50% {
    top: 0px;
  }

  75% {
    top: 5px;
  }

  100% {
    top: 0px;
  }
}

@keyframes bounce {
  0% {
    top: 0px;
  }

  25% {
    top: 5px;
  }

  50% {
    top: 0px;
  }

  75% {
    top: 5px;
  }

  100% {
    top: 0px;
  }
}

.vision .int-wrp {
  position: relative;
  padding-top: 50px;
}
.vision .int-wrp:after {
  content: " ";
  display: table;
  clear: both;
}
.vision .vision-right,
.vision .vision-left {
  font-weight: 100;
  font-size: 19px;
  overflow: hidden;
  padding: 15px 0 53px;
  font-weight: 300;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47%;
  float: right;
}
.vision .vision-left {
  float: left;
}

.people {
  overflow: hidden;
  background: #efefef;
}
.people:after {
  content: " ";
  display: table;
  clear: both;
}
.people .int-wrp {
  position: relative;
  width: 1680px;
  max-width: 100%;
  padding: 0;
}
.people .label {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 30px;
  color: white;
  font-size: 22px;
  text-align: left;
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.people .label .credit {
  font-size: 14px;
}
.people .single {
  display: inline-block;
  width: 16.66667%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.people .double {
  display: inline-block;
  width: 33.33333%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.people .person {
  position: relative;
  overflow: hidden;
  max-height: 268px;
  cursor: pointer;
}
.people .person img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.people .person:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.people .person.has-video:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../images/play-people.png') no-repeat center rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.people .person:hover:after,
.people .person:hover .label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.people .person:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.people .people_1 {
  background: url('../images/people/small/people_1.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_1:hover:before {
  display: none;
  background: url('../images/people/842X804/people_1.jpg');
}
.people .people_2 {
  background: url('../images/people/small/people_2.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_2:hover:before {
  display: none;
  background: url('../images/people/842X804/people_2.jpg');
}
.people .people_3 {
  background: url('../images/people/small/people_3.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_3:hover:before {
  display: none;
  background: url('../images/people/842X804/people_3.jpg');
}
.people .people_4 {
  background: url('../images/people/small/people_4.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_4:hover:before {
  display: none;
  background: url('../images/people/842X804/people_4.jpg');
}
.people .people_5 {
  background: url('../images/people/small/people_5.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_5:hover:before {
  display: none;
  background: url('../images/people/842X804/people_5.jpg');
}
.people .people_6 {
  background: url('../images/people/small/people_6.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_6:hover:before {
  display: none;
  background: url('../images/people/842X804/people_6.jpg');
}
.people .people_7 {
  background: url('../images/people/small/people_7.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_7:hover:before {
  display: none;
  background: url('../images/people/842X804/people_7.jpg');
}
.people .people_8 {
  background: url('../images/people/small/people_8.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_8:hover:before {
  display: none;
  background: url('../images/people/842X804/people_8.jpg');
}
.people .people_9 {
  background: url('../images/people/small/people_9.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_9:hover:before {
  display: none;
  background: url('../images/people/842X804/people_9.jpg');
}
.people .people_10 {
  background: url('../images/people/small/people_10.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_10:hover:before {
  display: none;
  background: url('../images/people/842X804/people_10.jpg');
}
.people .people_11 {
  background: url('../images/people/small/people_11.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_11:hover:before {
  display: none;
  background: url('../images/people/842X804/people_11.jpg');
}
.people .people_12 {
  background: url('../images/people/small/people_12.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_12:hover:before {
  display: none;
  background: url('../images/people/842X804/people_12.jpg');
}
.people .people_13 {
  background: url('../images/people/small/people_13.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people_13:hover:before {
  display: none;
  background: url('../images/people/842X804/people_13.jpg');
}
.people .person-frame {
  display: none;
}
.people .people-frame-first,
.people .people-frame-second {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
.people .people-frame-first {
  right: 0;
}
.people .people-frame-second {
  left: 0;
}
.people .people-frame {
  text-align: center;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.people .people-frame:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.people .people-frame .number,
.people .people-frame .name,
.people .people-frame .slogan {
  position: relative;
  margin: 0 auto;
  width: 325px;
  max-width: 90%;
  color: white;
  text-align: left;
  font-weight: 100;
}
.people .people-frame .number {
  color: #a8925f;
  font-size: 140px;
  line-height: 1;
  margin-top: 15%;
}
.people .people-frame .name {
  font-size: 35px;
}
.people .people-frame .slogan {
  font-size: 35px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 10px auto;
  padding: 10px 0;
  direction: ltr;
}
.people .people-frame .play-btn {
  background-image: url('../images/play-btn.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 85px;
  height: 85px;
  text-indent: 85px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  z-index: 0;
}
.people .people-frame .close {
  background-image: url('../images/close-frame.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 32px;
  height: 32px;
  text-indent: 32px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  top: 40px;
  cursor: pointer;
}
.people .people-frame-first .close {
  right: 40px;
}
.people .people-frame-second .close {
  left: 40px;
}

.goals {
  background: #f3f2f2;
}
.goals .int-wrp {
  clear: both;
  width: 1400px;
  color: #490b53;
  padding-top: 50px;
}
.goals .int-wrp:after {
  content: " ";
  display: table;
  clear: both;
}
.goals .tabs {
  position: relative;
}
.goals .tabs:after {
  content: " ";
  display: table;
  clear: both;
}
.goals .tab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: right;
  text-align: center;
  padding: 20px 0 70px;
  cursor: pointer;
}
.goals .tab .title {
  font-size: 35px;
  padding-top: 17px;
  line-height: 1;
}
.goals .tab .subtitle {
  font-size: 20px;
}
.goals .tab.recruit:before {
  content: "";
  background-image: url('../images/tab-recruit.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 123px;
  height: 200px;
  text-indent: 123px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.goals .tab.info:before {
  content: "";
  background-image: url('../images/tab-info.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 104px;
  height: 200px;
  text-indent: 104px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.goals .tab.learn:before {
  content: "";
  background-image: url('../images/tab-learn.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 128px;
  height: 200px;
  text-indent: 128px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.goals .tab.benefit:before {
  content: "";
  background-image: url('../images/tab-benefit.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 108px;
  height: 200px;
  text-indent: 108px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.goals .tab:before {
  border-bottom: 1px solid #490b53;
}
.goals .triangle {
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../images/triangle.png') no-repeat center;
  height: 14px;
}

.goals2:after {
  content: " ";
  display: table;
  clear: both;
}
.goals2 .tab-contents,
.goals2 .create {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
}
.goals2 .tab-content {
  display: none;
  padding: 60px 0 80px 60px;
  color: #490b53;
}
.goals2 .tab-content:first-child {
  display: block;
}
.goals2 .title {
  font-size: 26px;
  line-height: 1;
}
.goals2 .content {
  font-size: 20px;
  font-weight: 300;
}
.goals2 .content p {
  margin: .5em 0;
}
.goals2 .create {
  padding: 150px 170px 150px 0;
  font-size: 20px;
}
.goals2 .btn {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.goals2 .new {
  color: #848484;
}
.goals2 .register {
  color: #a8925f;
}
.goals2 .register:hover {
  text-decoration: underline;
  text-shadow: none;
  color: #a8925f;
}

.join {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #a8925f;
  color: #fff;
  font-size: 25px;
  padding: 10px 0;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
  /* firefox 19+ */
  /* ie */
}
.join.ext-wrp {
  position: fixed;
  display: none;
  z-index: 99;
}
.join .label {
  margin-left: 60px;
  font-size: 20px;
  float: right;
  height: 40px;
  line-height: 40px;
}
.join .input-wrp {
  float: left;
}
.join .mail {
  -webkit-box-shadow: inset -4px 5px 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -4px 5px 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: inset -4px 5px 5px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  border: none;
  background: url('../images/icn-mail.png') no-repeat 96% center #938153;
  font-size: 13px;
  margin: 0;
  color: #fff;
  border-bottom: 2px solid #c3b491;
  width: 400px;
  padding-right: 60px;
  font-family: "Open Sans Hebrew", serif;
  height: 40px;
}
.join ::-webkit-input-placeholder {
  color: #fff;
}
.join ::-moz-placeholder {
  color: #fff;
}
.join :-ms-input-placeholder {
  color: #fff;
}
.join input:-moz-placeholder {
  color: #fff;
}
.join .submit {
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  height: 40px;
  border: none;
  width: 93px;
  font-size: 16px;
  margin: 0;
  margin-right: -.5em;
  border-bottom: 2px solid #c3b491;
  font-family: "almoni-dl", sans-serif;
}

.footer {
  text-align: center;
}
.footer .social {
  margin-bottom: 25px;
}
.footer .social a {
  background-image: url('../images/icn-insta.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 48px;
  height: 48px;
  text-indent: 48px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 0 6px;
  text-shadow: none;
  -webkit-transition: -webkit-transform 0.7s;
  -moz-transition: -moz-transform 0.7s;
  -o-transition: -o-transform 0.7s;
  transition: transform 0.7s;
}
.footer .social a:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
.footer .social a.fb {
  background-image: url('../images/icn-fb.png');
}
.footer .social a.tw {
  background-image: url('../images/icn-tw.png');
}
.footer .social a.g {
  background-image: url('../images/icn-g.png');
}
.footer .social a.li {
  background-image: url('../images/icn-li.png');
}
.footer .social a.ytube {
  background-image: url('../images/icn-ytube.png');
}
.footer .social a.pin {
  background-image: url('../images/icn-pin.png');
}
.footer .signature {
  background-image: url('../images/signature.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 238px;
  height: 65px;
  text-indent: 238px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 56px 0 40px;
}
.footer .links {
  margin-bottom: 30px;
}
.footer .links a {
  font-size: 20px;
  position: relative;
  color: #a8925f;
  border-bottom: 1px solid #a8925f;
}
.footer .links a:last-of-type {
  margin-right: 40px;
}
.footer .links a:last-of-type::before {
  position: absolute;
  top: 5px;
  right: -20px;
  content: "";
  border-right: 1px solid #a8925f;
  height: 12px;
  width: 1px;
  border-bottom: none;
  margin-left: -10px;
}
.footer .footer-msg {
  padding: 20px 0 70px;
  direction: ltr;
  font-size: 12px;
}
.footer .footer-msg span {
  color: #a8925f;
  margin: 0 6px;
}
.footer .footer-msg .ngsoft {
  background-image: url('../images/ngsoft.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 51px;
  height: 8px;
  text-indent: 51px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin-left: 3px;
}

.fluid-video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  z-index: 0;
  padding-top: 30px;
  overflow: hidden;
}
.fluid-video iframe,
.fluid-video object,
.fluid-video embed {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lbox-container {
  position: relative;
}

.lbox-bg {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0.001;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lbox-bg.lbox-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.lbox-wrp {
  position: absolute;
  text-align: center;
  top: 2%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.lbox-wrp:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lbox-contain {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 96%;
  width: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
}
.lbox-active .lbox-contain {
  width: 760px;
}

.lbox-fluid {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0.001;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lbox-active .lbox-fluid {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lbox-fluid iframe {
  border: none;
}

.lbox-close {
  background-image: url('../images/close-frame.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 32px;
  height: 32px;
  text-indent: 32px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: -45px;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.lbox-active .lbox-close {
  opacity: 1;
}

.ribbon-wrapper {
  width: 360px;
  height: 360px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 26px Sans-Serif;
  font-family: Raleway, sans-serif;
  color: white;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  z-index: 99;
  padding: 20px 0;
  padding-left: 5px;
  left: 83px;
  top: 80px;
  width: 400px;
  background-color: #a8925f;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  max-height: 495px;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: white url('../images/ajax-loader.gif') center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
  max-height: 495px;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: inline-block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 100%;
  width: 30px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  top: 0;
  margin-top: 0;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  color: transparent;
}

.slick-prev {
  left: 0;
  background-image: url('../images/arw-gallery-prev.png');
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: 0;
}

.slick-next {
  right: 0;
  background-image: url('../images/arw-gallery-next.png');
}
[dir="rtl"] .slick-next {
  left: 0;
  right: auto;
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

#lbox-gallery {
  direction: ltr;
  width: auto;
  border: 10px solid white;
  border-bottom: 5px solid white;
  position: relative;
  max-height: 510px;
  overflow: hidden;
}
#lbox-gallery .slick-slide,
#lbox-gallery img {
  max-height: 495px;
  background: #000;
}
#lbox-gallery .slick-slide:not(.slick-active) img {
  display: none;
}

#lbox-gallery-preview-container {
  direction: ltr;
  border: 10px solid white;
  border-top: none;
}
#lbox-gallery-preview-container .slick-slide {
  border-right: 5px solid white;
  height: 132px;
  cursor: pointer;
  overflow: hidden;
}
#lbox-gallery-preview-container img {
  height: 100%;
  max-width: none;
  max-height: 132px;
}

.slick-slider {
  margin-bottom: 0;
}

.ext-wrp {
  z-index: 2;
  position: relative;
}

.header,
.intro {
  z-index: 1;
  left: 0;
  width: 100%;
}

.vision {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
