
// ----------------------------------------------
//              Base page styles
// ----------------------------------------------

html, body {
  max-width: 100%;
  // overflow-x: hidden;
}

body {
  background: $lightbg;
}

.int-wrp {
  @include container;
}

body > * {
  min-width: 1400px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
  html.lte-ie8 & {
    width: auto;
  }
}

%dark-background {
  background: $darkbg;
  color: $lighttext;
}

%golden-border {
  border-bottom: 3px solid $gold;
}

.sect-title {
  position: relative;
  text-align: center;
  font-size: 30px;
  white-space: nowrap;
  &:before,
  &:after {
    content: '';
    border-bottom: 1px solid #fff;
    width: 130px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    .goals & {
      border-color: $darktext;
    }
  }
}

%btn {
  display: inline-block;
  background: $gold;
  font-size: 29px;
  padding: 0 25px;
  line-height: 71px;
  border-bottom: 6px solid #8b7341;
  @include box-sizing(border-box);
  @include transition(all .3s ease-in-out);
  &:hover {
    text-shadow: none;
    background: darken($gold, 3%);
    border-bottom: 6px solid darken(#8b7341, 5%);
  }
}
%play-btn {
  @extend %btn;
  padding-left: 0;
  &:after {
    content: '';
    @include ir('play-tria.png');
    background-position: 55% center;
    vertical-align: middle;
    height: 71px;
    padding: 0 25px;
    margin-right: 25px;
    border-right: 1px solid #917e51;
  }
}

input:focus{
    outline: 0;
}
