
// ----------------------------------------------
//              Colors
// ----------------------------------------------

$lighttext: #fff;
$darktext: #490b53;
$linkcolor: #a8925f;
$footertext: #c4c4c4;
$darkbg: #33013b;
$lightbg: #efefef;
$gold: #a8925f;
