
// ----------------------------------------------
//                  Layout
// ----------------------------------------------

$flow: right !default;
$container: 1200px;
$font-size-context: 16px !default;

// Convert px to ems
@function px2em($pixels, $context: $font-size-context) {
  @return #{$pixels/$context}em;
}

// Convert px to %
@function px2perc($px, $parent-width: $container){
  @return ($px / $parent-width) * 100%;
}

// Micro clearfix hack
@mixin clear {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

// Easily set width and height by units or by image dimensions
@mixin size($x, $y: $x) {
  @if type_of($x) == string {
    width: image-width($x);
  } @else {
    width: $x;
  }
  @if type_of($y) == string {
    height: image-height($y);
  } @else {
    height: $y;
  }
}

// Grid justified layout - http://www.barrelny.com/blog/text-align-justify-and-rwd/
@mixin layout-justify {
  text-align: justify;

  > * {
    display: inline-block;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
  }
}

@mixin container{
  width: $container;
  margin: 0 auto;
  max-width: 94%;
  padding: 0 3%;
}

//    Salsa style layout mixin. Simplified.
// ----------------------------------------------

$opos: if($flow == left, right, left);
@mixin span($width, $position: false) {

  @include box-sizing(border-box);

  // Width (fraction/units)
  @if not unitless($width){ // arbitrary width (e.g. px/%/em etc.).
    width: $width;
  }
  @else if round($width) != $width { // fraction (e.g. 1/5).
    width: 100% * $width;
  }
  @else { // just a fallback.
    width: $width;
  }

  // Position (omega/row/fraction/columns/units)
  @if $position != omega {
    float: $flow; // normal float
  }
  @if $position == omega { // omega
    float: $opos;
  }

  @else if $position == row { // row
    clear: both;
  }
  @else if $position {
    margin: {
      #{$opos}: -100%;
      @if not unitless($width) { // has unit, arbitrary width
        #{$flow}: $position;
      }
      @else if round($position) != $position { // fraction
        #{$flow}: $position * 100%;
      }
      @else { // fallback
        #{$flow}: $position;
      }
    }
  }
}

@mixin span-ib($width, $valign: top) {
  display: inline-block;

  // Width (fraction/units)
  @if not unitless($width){ // arbitrary width (e.g. px/%/em etc.).
    width: $width;
  }
  @else if round($width) != $width { // fraction (e.g. 1/5).
    width: 100% * $width;
  }
  @else { // just a fallback.
    width: $width;
  }

  vertical-align: $valign;
  @include box-sizing(border-box);
}
