
// ----------------------------------------------
//              Scroll effect
// ----------------------------------------------

.ext-wrp {
  z-index: 2;
  position: relative;
}
.header,
.intro {
  z-index: 1;
  left: 0;
  width: 100%;
}
.vision {
  @include box-shadow(0 0 10px rgba(#000, .7));
}
