
// ----------------------------------------------
//           Typography
// ----------------------------------------------

$almoni: 'almoni-dl', sans-serif;
$raleway: 'Raleway', sans-serif;
$sans: 'Open Sans Hebrew', serif;
$sans-light: 'Open Sans Hebrew Light', serif;

@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@font-face{
  font-family: 'almoni-dl';
  font-weight: 300;
  font-style: normal;
  src: font-url('almoni-dl-aaa-300.eot?');
  src: font-url('almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
    font-url('almoni-dl-aaa-300.woff?') format('woff'),
    font-url('almoni-dl-aaa-300.ttf?') format('truetype');
}
@font-face{
  font-family: 'almoni-dl';
  font-weight: 400;
  font-style: normal;
  src: font-url('almoni-dl-aaa-400.eot?');
  src: font-url('almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
    font-url('almoni-dl-aaa-400.woff?') format('woff'),
    font-url('almoni-dl-aaa-400.ttf?') format('truetype');
}
@font-face{
  font-family: 'almoni-dl';
  font-weight: 700;
  font-style: normal;
  src: font-url('almoni-dl-aaa-700.eot?');
  src: font-url('almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
    font-url('almoni-dl-aaa-700.woff?') format('woff'),
    font-url('almoni-dl-aaa-700.ttf?') format('truetype');
}
@font-face{
  font-family: 'opensans-hebrew';
  src: font-url('opensanshebrew-regular-webfont.eot?');
  src: font-url('opensanshebrew-regular-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-regular-webfont.woff?') format('woff'),
    font-url('opensanshebrew-regular-webfont.ttf?') format('truetype');
}
@font-face{
  font-family: 'opensans-hebrew-light';
  src: font-url('opensanshebrew-light-webfont.eot?');
  src: font-url('opensanshebrew-light-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('opensanshebrew-light-webfont.woff?') format('woff'),
    font-url('opensanshebrew-light-webfont.ttf?') format('truetype');
}

body {
  font: normal 16px/1.3 $almoni;
  text-align: right;
  direction: rtl;
}

%raleway { // 400
  font-family: $raleway;
}
%raleway-100 {
  @extend %raleway;
  font-weight: 100;
}
%raleway-200 {
  @extend %raleway;
  font-weight: 200;
}
%raleway-300 {
  @extend %raleway;
  font-weight: 300;
}
%raleway-500 {
  @extend %raleway;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: $lighttext;
  @include text-shadow(0 0 10px transparent, -1px -1px 0 transparent);
  @include transition(text-shadow .4s ease-in-out);
  // &:hover {
  // 	color: $lighttext;
  //   @include text-shadow(0 0 10px #fff, -1px -1px 0 rgba(#000, .5));
  // }
}
