    <footer id="scripts">
      <!-- Load jQuery from google CDN. -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="@@refjs/vendor/jquery-1.11.1.min.js"><\/script>')</script>

      <!-- Main scripts. -->
      <script src="@@refjs/main.js"></script>
      <script type="text/javascript" src="@@refjs/vendor/slick.js"></script>
      <!-- Development file watcher - REMOVE FROM PRODUCTION. -->
      <script src="@@refjs/fileWatcher.js"></script>

    </footer>
