
    <!-- src/components/footer.html -->
    <footer class="footer ext-wrp">
      <div class="int-wrp">
        <div class="signature">Dalya Arazi</div>
        <div class="social">
          <a target="_blank" href="http://www.pinterest.com/Dalyaarazi/" class="pin">Pinterest</a>
          <a target="_blank" href="http://bit.ly/1uysaE6" class="ytube">YouTube</a>
          <a target="_blank" href="http://instagram.com/dalyaarazi/" class="inst">Instagram</a>
          <a target="_blank" href="http://www.linkedin.com/profile/view?id=116920734&trk=nav_responsive_tab_profile " class="li">linkedIn</a>
          <a target="_blank" href="https://plus.google.com/u/0/+DalyaArazime/posts" class="g">g+</a>
          <a target="_blank" href="https://twitter.com/DalyaArazi" class="tw">Twitter</a>
          <a target="_blank" href="https://www.facebook.com/Ostar.meCelebs?ref=hl" class="fb">Facebook</a>
        </div>
        <div class="links"><a href="#">טריילר 2013</a><a href="http://bit.ly/1rIoE40">ספר חזון ה - me</a></div>
        <div class="footer-msg">Site by <a class="ngsoft" href="http://www.ngsoft.com/">NGSOFT</a> <span>●</span> © 2014 All rights reserved to Dalya Arazis.net Ltd. | O-star.me</div>
      </div>
    </footer>
