
    <!-- src/components/goals.html -->
    <div class="goals ext-wrp">
      <div class="int-wrp">
        <div class="sect-title">מטרות המיזם</div>

        <div class="tabs">
          <div class="tab recruit active">
            <div class="title">אינטרו</div>
            <div class="subtitle">להכיר את האדם תוך 3 דקות</div>
          </div>
          <div class="tab info">
            <div class="title">מידע אותנטי</div>
            <div class="subtitle">ממקור ראשון על עצמנו</div>
          </div>
          <div class="tab learn">
            <div class="title">הזדהות ולמידה</div>
            <div class="subtitle">אחד מהשני</div>
          </div>
          <div class="tab benefit">
            <div class="title">me</div>
            <div class="subtitle">נכס בעל ערך</div>
          </div>
        </div>

      </div>
    </div>
