
    <!-- src/components/header.html -->
    <header class="header ext-wrp">
      <div class="int-wrp">
        <a href="#"><img src="images/logo.png" alt="O-star.me"></a>
      </div>
    </header>
