
    <!-- src/components/intro.html -->
    <div class="intro ext-wrp lbox-container">
      <div class="int-wrp">
        <div class="col">
          <!-- <a class="movie-box lgt-box" href="#" data-video-id="b5EAq0iBwDU"></a> -->
          <div class="title">אפשר לקבל את ה me שלך<span>?</span></div>
          <div class="slogan"><span>o-star.me</span> הינה רשת חברתית בה ניתן להכיר כל אדם ב- 3 דקות בלבד ללא קשר      לעיסוקו המקצועי </div>
          <div class="input-wrp">
            <input class="mail" placeholder="הכנס כתובת מייל והירשם לקבלת הזמנה" required="required" maxlength="100" type="email" name="email" value="">
            <input class="submit" type="submit" value="שלח" name="submit" class="button">
          </div>


        </div>
      </div>
      <div class="gallery-preview">
        <a href="#" class="linkToVideo movie-box lgt-box" data-video-id="b5EAq0iBwDU"></a>
        <a href="#" class="linkToGallery" data-video-id="b5EAq0iBwDU"></a>
      </div>
      <div class="read-more">
        <a href="#vision">
            קרא עוד
            <div class="read-more-img">
              <img src="images/arw-down.png" alt="Read More">
            </div>
        </a>
      </div>
    </div>
    </div>
