
    <!-- src/components/join.html -->
    <div class="join ext-wrp">
      <div class="int-wrp">
        <span class="label">הצטרף לאנציקלופדיה האנושית הראשונה. הרשם לקבלת הזמנה</span>
        <div class="input-wrp">
          <input class="mail" placeholder="הכנס כתובת מייל" required="required" maxlength="100" type="email" name="email" value="">
          <input class="submit" type="submit" value="שלח" name="submit" class="button">
        </div>
      </div>
    </div>
