
    <!-- src/components/people.html -->
    <div class="people ext-wrp lbox-container">
      <div class="int-wrp">
        <div class="people-frame people-frame-first"></div><div class="people-frame people-frame-second"></div><div class="person people_1 single slide-up first-half">
          <img src="images/people/small/people_1.png">
          <div class="label">
            <div class="name">ראובן זכאים | Reuven Zakaim</div>
            <div class="credit">צילום: אבי אמזלג</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#68</div>
            <div class="name">ראובן זכאים | Reuven Zakaim</div>
            <div class="slogan">"זה לא שהחיים שלך פשוטים, פשוט עדיין לא כתבת את הביוגרפיה שלך"</div>
            <!-- <div class="play-btn lgt-box" data-video-id="Tu2Z4KGnJcU">Play</div> -->
          </div>
        </div><div class="person has-video people_2 double slide-up first-half">
          <img src="images/people/small/people_2.png">
          <div class="label">
            <div class="name">רן כרמי | Ran Karmi</div>
            <div class="credit">צילום: איתי פולק</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#42</div>
            <div class="name">רן כרמי | Ran Karmi</div>
            <div class="slogan">"DO NOT TAKE THE WORLD TOO SERIOUSLY, IT DOESN’T TAKE YOU"</div>
            <div class="play-btn lgt-box" data-video-id="N64uI9ZdUQE">Play</div>
          </div>
        </div><div class="person people_3 single slide-up second-half">
          <img src="images/people/small/people_3.png">
          <div class="label">
            <div class="name">קרנית ידיד | Carnit Yadid</div>
            <!-- <div class="credit">צילום: בני מגן</div> -->
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#17</div>
            <div class="name">קרנית ידיד | Carnit Yadid</div>
            <div class="slogan">"AFRAID OF ALL THINGS, STOPPED BY NOTHING"</div>
          </div>
        </div><div class="person people_4 single slide-up second-half">
          <img src="images/people/small/people_4.png">
          <div class="label">
            <div class="name">לימור שי | Limor Shay</div>
            <div class="credit">צילום: אלון הדר</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#15</div>
            <div class="name">לימור שי | Limor Shay</div>
            <div class="slogan">"אני מאמינה בעשייה מתוך אמונה ונאמנות לאמת הפנימית שלך"</div>
          </div>
        </div><div class="person has-video people_5 single slide-up second-half">
          <img src="images/people/small/people_5.png">
          <div class="label">
            <div class="name">אייל סבג | Eyal Sabag</div>
            <div class="credit">צילום: דני שביט</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#33</div>
            <div class="name">אייל סבג | Eyal Sabag</div>
            <div class="slogan">"אושר והצלחה הם לא יעד, אלא דרך חיים"</div>
            <div class="play-btn lgt-box" data-video-id="XvqOrOlAddk">Play</div>
          </div>
        </div><div class="person has-video people_6 double slide-up first-half">
          <img src="images/people/small/people_6.png">
          <div class="label">
            <div class="name">רועי שוחט | Roy Shohat</div>
            <div class="credit">צילום: אבשלום לוי</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#51</div>
            <div class="name">רועי שוחט | Roy Shohat</div>
            <div class="slogan">"MY REALITY IS MUCH BETTER THAN MY DREAMS"</div>
            <div class="play-btn lgt-box" data-video-id="1sBiFw5HELg">Play</div>
          </div>
        </div><div class="person has-video people_7 single slide-down first-half">
          <img src="images/people/small/people_7.png">
          <div class="label">
            <div class="name">נורית לוי | Nurit Levi</div>
            <div class="credit">צילום: שירן כרמל</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#29</div>
            <div class="name">נורית לוי | Nurit Levi</div>
            <div class="slogan">"לא משנה מה עוברים בחיים ועם מה אתה מתמודד, תמיד אפשר לבחור אחרת"</div>
            <div class="play-btn lgt-box" data-video-id="HDfNRFSZw8E">Play</div>
          </div>
        </div><div class="person people_8 double slide-down second-half">
          <img src="images/people/small/people_8.png">
          <div class="label">
            <div class="name">עמירם עיני | Amiram Eini</div>
            <div class="credit">צילום: רוני איזאק</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#19</div>
            <div class="name">עמירם עיני | Amiram Eini</div>
            <div class="slogan">"LIVING IN INTERESTING TIMES"</div>
          </div>
        </div><div class="person has-video people_9 single slide-up second-half">
          <img src="images/people/small/people_9.png">
          <div class="label">
            <div class="name">ריבי שחר | Ribi Shahar</div>
            <div class="credit">צילום: מיכל הרדוף רז</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#74</div>
            <div class="name">ריבי שחר | Ribi Shahar</div>
            <div class="slogan">"לקסום חלומות - הכל אפשרי"</div>
            <div class="play-btn lgt-box" data-video-id="Zd4KQBrkp-4">Play</div>
          </div>
        </div><div class="person has-video people_10 single slide-down first-half">
          <img src="images/people/small/people_10.png">
          <div class="label">
            <div class="name">סמרל | Samarel</div>
            <div class="credit">צילום: תמרה חרמון</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#60</div>
            <div class="name">סמרל | Samarel</div>
            <div class="slogan">"אמן ארוטיקה, הוזה דעות"</div>
            <div class="play-btn lgt-box" data-video-id="ShruPAp4b9o">Play</div>
          </div>
        </div><div class="person has-video people_11 double slide-down first-half">
          <img src="images/people/small/people_11.png">
          <div class="label">
            <div class="name">טל נברו | Tal Navaro</div>
            <!-- <div class="credit">צילום: בני מגן</div> -->
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#09</div>
            <div class="name">טל נברו | Tal Navaro</div>
            <div class="slogan">"Social Media Expert & Life Lover"</div>
            <div class="play-btn lgt-box" data-video-id="Tu2Z4KGnJcU">Play</div>
          </div>
        </div><div class="person people_12 single slide-down second-half">
          <img src="images/people/small/people_12.png">
          <div class="label">
            <div class="name">אואזיס צולר | Oazis Zoller</div>
            <!-- <div class="credit">צילום: בני מגן</div> -->
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#59</div>
            <div class="name">אואזיס צולר | Oazis Zoller</div>
            <div class="slogan">"אני אהפוך לפיה טובה ואעשה שלאנשים יהיה טוב"</div>
          </div>
        </div><div class="person has-video people_13 double slide-down second-half">
          <img src="images/people/small/people_13.png">
          <div class="label">
            <div class="name">אביבה זאבי | Aviva Zeevi</div>
            <div class="credit">צילום: רוני</div>
          </div>
          <div class="person-frame">
            <div class="close">x</div>
            <div class="number">#11</div>
            <div class="name">אביבה זאבי | Aviva Zeevi</div>
            <div class="slogan">"MY REALITY IS MUCH BETTER THAN MY DREAMS"</div>
            <div class="play-btn lgt-box" data-video-id="0GDO-yzWx0E">Play</div>
          </div>
        </div>
      </div>
    </div>
