
    <!-- src/components/vision.html -->
    <div class="vision ext-wrp" id="vision">
      <div class="int-wrp">
        <div class="sect-title">החזון שלי</div>
        <div class="vision-right">
          <p>
            החזון שלי הוא חדשני והפוך מהמקובל היום בעולם. הדרך העמידה בפניי לא מעט אתגרים. התדפקתי על דלתות רבות, בחלקן נעניתי וחלקן נטרקו בפניי. לא נבהלתי והמשכתי הלאה באמונה שלמה, בזכות אותה חוצפה ישראלית שהוריש לי בעלי המנוח אפי ארזי והצלחתי.
          </p>
          <p>
            כאשר אני מאמינה במשהו בלב שלם אני לא נבהלת מאף אחד ומשום דבר. החזון שלי מרגש הרבה מאוד חברים ששיתפו איתי פעולה וגם הם מאמינים שזה הכיוון של העולם היום. כיום העולם מכוון לעומק, לאותנטיות ומידע אמיתי ממקור ראשון.
          </p>
          <p>
           ההבנה שבאמצעות ניסיון החיים אנו יכולים לעזור לזולת ושיש לזה ערך כלכלי, לא פחות חשובה וחיונית מכל תעודה שנשיג באמצעות לימודים פורמליים. חוכמת החיים שצברנו במהלך חיינו זהו נכס שיש לו ערך כלכלי.
          </p>
        </div>
        <div class="vision-left">
          <p>
           לכל אחד מאיתנו יש עולם פנימי עשיר, חלק מאיתנו שכחו, ששם בעצם נמצאים חומרי הבנייה של סיפור חיינו. חשוב שכל אחד מאיתנו ישתף את העולם בדרך הנתיב בה הוא בחר ללכת ולא רק בהגדרה יבשה על עיסוקיו המקצועיים.
          </p>
          <p>
             התשוקה לחלוק עם העולם me אנחנו באמת, כבר הוכחה בכל הרשתות החברתיות רק שהמידע מפוזר, אינו ממוקד ומבלבל. <br> <br>
            ב- O-star.me יש לכל אחד הזדמנות פז להציג את מי שהוא ולהפוך את זה למקור מתגמל. בכך יתרונו הגדול של המיזם. O-star.me מאפשר להגשים את החלום. לכל אחד יש קול פנימי אותנטי ומרגש שמונע ע”י תשוקה בוערת לפרוץ החוצה ולאפשר לעולם להכיר me הוא באמת ולהעשיר את העולם בחכמת חייו .
          </p>
        </div>
      </div>
    </div>
