
// ----------------------------------------------
//              Footer
// ----------------------------------------------

.footer {
  @extend %dark-background;
  text-align: center;

  .social {
    margin-bottom: 25px;
    a {
      @include ir('icn-insta.png');
      margin: 0 6px;
      @include text-shadow(none);
      @include transition(transform .7s);

      &:hover {
        @include transform(rotate(30deg));
      }
      &.fb {
        background-image: image-url('icn-fb.png');
      }
      &.tw {
        background-image: image-url('icn-tw.png');
      }
      &.g {
        background-image: image-url('icn-g.png');
      }
      &.li {
        background-image: image-url('icn-li.png');
      }
      &.ytube {
        background-image: image-url('icn-ytube.png');
      }
      &.pin {
        background-image: image-url('icn-pin.png');
      }
    }
  }
  .signature {
    @include ir('signature.png');
    margin: 56px 0 40px;
  }

  .links {
    margin-bottom: 30px;

    a {
      font-size: 20px;
      position: relative;
      color: $gold;
      border-bottom: 1px solid $gold;
      &:last-of-type {
        margin-right:  40px;
        &::before {
          position: absolute;
          top: 5px;
          right: -20px;
          content: "";
          border-right: 1px solid $gold;
          height: 12px;
          width: 1px;
          border-bottom: none;
          margin-left: -10px;
        }
      }
    }
  }

  .footer-msg {
    padding: 20px 0 70px;
    direction: ltr;
    @extend %raleway;
    font-size: 12px;
    span {
      color: $gold;
      margin: 0 6px;
    }
    .ngsoft {
      @include ir('ngsoft.png');
      margin-left: 3px;
    }
  }
}
