#lbox-gallery {
  direction: ltr;
  width: auto;
  border: 10px solid white;
  border-bottom: 5px solid white;
  position: relative;

  max-height: 510px;
  // min-width: 1062px;

  overflow: hidden;
  .slick-slide,
  img {
    max-height: 495px;
    background: #000;
  }
  .slick-slide:not(.slick-active) {
    img {
      display: none;
    }
  }

}

#lbox-gallery-preview-container {
  direction: ltr;
  border: 10px solid white;
  border-top: none;
  .slick-slide {
    border-right: 5px solid white;
    height: 132px;
    cursor: pointer;
    overflow: hidden;
  }
  img {
    height: 100%;
    max-width: none;
    max-height: 132px;
    // width: 171px;
  }
}

.slick-slider {
  margin-bottom: 0;
}

