
// ----------------------------------------------
//              Goals
// ----------------------------------------------

.goals {
  @extend %golden-border;
  background: #f3f2f2;

  .int-wrp {
    @include clear;
    clear: both;
    width: 1400px;
    color: $darktext;
    padding-top: 50px;
  }

  .tabs {
    position: relative;
    @include clear;
  }
  .tab {
    @include span(25%);
    text-align: center;
    padding: 20px 0 70px;
    cursor: pointer;
    .title {
      font-size: 35px;
      padding-top: 17px;
      line-height: 1;
    }
    .subtitle {
      font-size: 20px;
    }
    &.recruit {
      @include before-icon('tab-recruit.png', image-width('tab-recruit.png'), 200px);
    }
    &.info {
      @include before-icon('tab-info.png', image-width('tab-info.png'), 200px);
    }
    &.learn {
      @include before-icon('tab-learn.png', image-width('tab-learn.png'), 200px);
    }
    &.benefit {
      @include before-icon('tab-benefit.png', image-width('tab-benefit.png'), 200px);
    }
    &:before {
      border-bottom: 1px solid $darktext;
    }
  }
  .triangle {
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: image-url('triangle.png') no-repeat center;
    height: image-height('triangle.png');
  }
}

.goals2 {
  @extend %golden-border;
  @include clear;

  .tab-contents,
  .create {
    @include span(50%);
  }
  .tab-content {
    display: none;
    padding: 60px 0 80px 60px;
    color: $darktext;
    &:first-child {
      display: block;
    }
  }
  .title {
    font-size: 26px;
    line-height: 1;
  }
  .content {
    font-size: 20px;
    font-weight: 300;
    p {
      margin: .5em 0;
    }
  }

  .create {
    padding: 150px 170px 150px 0;
    font-size: 20px;
  }
  .btn {
    @extend %btn;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .new {
    color: #848484;
  }
  .register {
    color: $gold;
    &:hover {
      text-decoration: underline;
      text-shadow: none;
      color: $gold;
    }
  }
}
