
// ----------------------------------------------
//              Header
// ----------------------------------------------

.header {
  @extend %dark-background;
  @extend %golden-border;
  text-align: center;
  a {
    display: inline-block;
    padding: 8px;
  }
}
