
// ----------------------------------------------
//              Intro
// ----------------------------------------------

.intro {
  text-align: right;
  @include pie-gradient(#f4f4f4, #e3e2e2);
  @extend %golden-border;
  font-size: 16px;
  .int-wrp {
    display: table;
    min-width: 800px;
    height: 900px;
    padding: 0;
    @include box-sizing(border-box);
  }
  .col {
    display: table-cell;
    vertical-align: middle;
    margin-top: -10px;
    height: 100%;
    padding-bottom: 130px;
    position: relative;
  }
  .gallery-preview {
    background: image-url('intro-images.png') no-repeat 10% center;
    @include background-size(contain);
    position: absolute;
    left: 5%;
    top: 0;
    height: 100%;
    width: image-width('intro-images.png');
    // max-width: 55%;
    a {
      position: absolute;
    }
    .linkToVideo {
      top: 21%;
      left: 15%;
      display: inline-block;
      width: 90px;
      height: 30px;
    }
    .linkToGallery {
      top: 25%;
      left: 15%;
      display: inline-block;
      width: 100px;
      height: 50px;
    }
  }
  a.movie-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
  }
  .title {
    letter-spacing: -1px;
    color: $gold;
    font-size: px2em(50px);
    width: 560px;
    position: relative;
    z-index: 2;
    span {
      @extend %raleway-500;
      font-size: 40px;
    }
  }
  .slogan {
    line-height: 1;
    color: $gold;
    font-weight: 300;
    font-size: px2em(40px);
    width: 560px;
    position: relative;
    z-index: 2;
    span {
      @extend %raleway-300;
    }
  }
  .read-more {
    text-align: center;
    bottom: 0;
    right: 48%;
    margin-bottom: 50px;
    z-index: 2;
    a {
      font-size: 23px;
      color: $darkbg;
    }
    .read-more-img {
      padding-top: 10px;
      text-align: center;
      position: relative;
      &:hover {
        -webkit-animation: bounce 1s infinite; /* Chrome, Safari, Opera */
        animation: bounce 1s infinite;
      }
    }
  }
  .input-wrp {
    margin-top: 30px;
    position: relative;
    z-index: 2;
  }
  .mail {
    @include box-shadow(inset 0px 0px 5px 0px rgba(#000, .5));
    @include box-sizing(border-box);
    float: right;
    border: none;
    background: image-url('icn-mail-gold.png') no-repeat 96% center #FFF;
    font-size: 16px;
    margin: 0;
    color: $gold;
    width: 400px;
    padding-right: 60px;
    height: 60px;
    font-family: $sans;

  }
  ::-webkit-input-placeholder { color: $gold; }
  ::-moz-placeholder { color: $gold; } /* firefox 19+ */
  :-ms-input-placeholder { color: $gold; } /* ie */
  input:-moz-placeholder { color: $gold; }

  .submit {
    height: 60px;
    float: right;
    background: $gold;
    color: #FFF;
    font-size: 20px;
    @include box-sizing(border-box);
    @include box-shadow(inset 0px 0px 5px 0px rgba(#000, .3));
    border: none;
    width: 80px;
    margin: 0;
    margin-right: -.5em;
    font-family: $almoni;
  }

  .lbox-active .lbox-contain {
    width: 960px;
  }
  .lbox-gallery-wrp .lbox-contain {
    width: 960px;
    @include transform(scale(.01));
    @include opacity(0);
    @include transition(all .7s);
  }
  .lbox-gallery-wrp.lbox-active .lbox-contain {
    @include opacity(1);
    @include transform(scale(1));
  }

}

@-webkit-keyframes bounce {
    0%   {top: 0px;}
    25%  {top: 5px;}
    50%  {top: 0px;}
    75%  {top: 5px;}
    100% {top: 0px;}
}

@keyframes bounce {
    0%   {top: 0px;}
    25%  {top: 5px;}
    50%  {top: 0px;}
    75%  {top: 5px;}
    100% {top: 0px;}
}
