
// ----------------------------------------------
//              Join
// ----------------------------------------------

.join {
  &.ext-wrp {
    position: fixed;
    display: none;
    z-index: 99;
  }
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: $gold;
  color: #fff;
  font-size: 25px;
  padding: 10px 0;
  white-space: nowrap;
  @include backface-visibility(hidden);
  @include box-shadow(0 -2px 3px rgba(#000, .3));
  .label {
    margin-left: 60px;
    font-size: 20px;
    float: right;
    height: 40px;
    line-height: 40px;
  }
  .input-wrp {
    float:  left;
  }
  .mail {
    @include box-shadow(inset -4px 5px 5px -5px rgba(#000, .5));
    @include box-sizing(border-box);
    float:right;
    border: none;
    background: image-url('icn-mail.png') no-repeat 96% center #938153;
    font-size: 13px;
    margin: 0;
    color: #fff;
    border-bottom: 2px solid lighten($gold, 15%);
    width: 400px;
    padding-right: 60px;
    font-family: $sans;
    height: 40px;

  }
  ::-webkit-input-placeholder { color: #fff; }
  ::-moz-placeholder { color: #fff; } /* firefox 19+ */
  :-ms-input-placeholder { color: #fff; } /* ie */
  input:-moz-placeholder { color: #fff; }
  .submit {
    float: right;
    @extend %dark-background;
    @include box-sizing(border-box);
    @include box-shadow(inset 0 5px 5px -5px rgba(#000, .5));
    height: 40px;
    border: none;
    width: 93px;
    font-size: 16px;
    margin: 0;
    margin-right: -.5em;
    border-bottom: 2px solid lighten($gold, 15%);
    font-family: $almoni;

  }
}
