$videoWidth: 760px;
$ratio: 9/16;

.fluid-video {
  position: relative;
  height: 0;
  padding-bottom: $ratio * 100%;

  z-index: 0;
  padding-top: 30px;
  overflow: hidden;
  iframe,
  object,
  embed {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.lbox-container {
  position: relative;
}

.lbox-bg {
  // display: none;

  background: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  overflow: hidden;
  @include opacity(.001);
  @include transition(opacity .4s);
  &.lbox-active {
    // display: block;
    @include opacity(.8);
  }
}

.lbox-wrp {
  position: absolute;
  text-align: center;
  top: 2%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.lbox-contain {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 96%;
  width: 0;
  @include transform3d(translateZ(0));
  @include transition(width .4s);
  .lbox-active & {
    width: $videoWidth;
  }
}

.lbox-fluid {
  @include border-radius(5px);
  @include box-shadow(0px 0px 30px rgba(#000, .5));
  @include opacity(.001);
  @include transition(opacity .4s);
  .lbox-active & {
    @include opacity(1);
  }
  iframe {
    border: none;
  }
}

.lbox-close {
  @include ir('close-frame.png');
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: -45px;
  right: 0;
  opacity: 0;
  @include transition(opacity .4s);
  .lbox-active & {
    opacity: 1;
  }
}
