
// ----------------------------------------------
//              People
// ----------------------------------------------

.people {
  @extend %golden-border;
  @include clear;
  overflow: hidden;
  background: $lightbg;

  .int-wrp {
    position: relative;
    width: 1680px;
    max-width: 100%;
    padding: 0;
  }

  .label {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: $lighttext;
    font-size: 22px;
    text-align: left;
    z-index: 2;
    @include opacity(0);
    @include transition(opacity .6s);
    .credit {
      font-size: 14px;
    }
  }
  .single {
    @include span-ib(1/6);
  }
  .double {
    @include span-ib(1/3);
  }
  .person {
    position: relative;
    overflow: hidden;
    max-height: 268px;
    cursor: pointer;
    img {
      @include transform3d(scale(1));
      @include transition(all .6s);
    }
    &:after {
      @include opacity(0);
      @include transition(opacity .6s);
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(#000, .8);
      z-index: 1;
    }
    &.has-video:after {
      @include opacity(0);
      @include transition(opacity .6s);
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: image-url('play-people.png') no-repeat center rgba(#000, .8);
      z-index: 1;
    }
    &:hover {
      &:after,
      .label {
        @include opacity(1);
      }
      img {
        @include transform3d(scale(1.1));
      }
    }
  }

  $people: 13;
  @for $i from 1 through $people {
    .people_#{$i} {
      background: image-url('people/small/people_#{$i}.png');
      @include background-size(cover);
      &:hover:before {
        display: none;
        // Preload the bigger image whan hovering the small one.
        background: image-url('people/842X804/people_#{$i}.jpg');
      }
    }
  }

  .person-frame {
    display: none;
  }

  .people-frame-first,
  .people-frame-second {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
  }
  .people-frame-first {
    right: 0;
  }
  .people-frame-second {
    left: 0;
  }
  .people-frame {
    text-align:  center;
    background-position: center top;
    @include background-size(cover);
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, .7);
    }
    .number,
    .name,
    .slogan {
      position: relative;
      margin: 0 auto;
      width: 325px;
      max-width: 90%;
      color: $lighttext;
      text-align: left;
      font-weight: 100;
    }
    .number {
      color: $gold;
      font-size: 140px;
      @extend %raleway-100;
      line-height: 1;
      margin-top: 15%;
    }
    .name {
      font-size: 35px;
    }
    .slogan {
      font-size: 35px;
      border-top: 1px solid $lighttext;
      border-bottom: 1px solid $lighttext;
      margin: 10px auto;
      padding: 10px 0;
      direction: ltr;
    }
    .play-btn {
      @include ir('play-btn.png');
      position: relative;
      margin-top: 40px;
      cursor: pointer;
      z-index: 0;
    }
    .close {
      @include ir('close-frame.png');
      position: absolute;
      top: 40px;
      cursor: pointer;
    }
  }
  .people-frame-first .close {
    right: 40px;
  }
  .people-frame-second .close {
    left: 40px;
  }
}
