.ribbon-wrapper {
  width: 360px;
  height: 360px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 26px Sans-Serif;
  font-family: Raleway, sans-serif;
  // @extend %railway-300;
  color: white;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  z-index: 99;
  padding: 20px 0;
  padding-left: 5px;
  left: 83px;
  top: 80px;
  width: 400px;
  background-color: $gold;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
  -moz-box-shadow:    2px 2px 5px 1px rgba(0,0,0,0.4);
  box-shadow:         2px 2px 5px 1px rgba(0,0,0,0.4);
}
