
// ----------------------------------------------
//              Vision
// ----------------------------------------------

.vision {
  @extend %dark-background;
  @extend %golden-border;


  .int-wrp {
    @include clear;
    position: relative;
    padding-top: 50px;
  }

  .vision-right,
  .vision-left {
    // font-family: open Sans Hebrew, serif;
    font-weight: 100;
    font-size: 19px;
    overflow: hidden;
    padding: 15px 0 53px;
    // font-size: 19px;
    font-weight: 300;
    line-height: 1.6;
    @include span(47%);

  }
  .vision-left {
    float: left;
  }
}
